
header{
    background-color: black;
    width: 100%;
    color: white;
    margin-bottom: 0%;
    text-align: left;   
    padding: 20px;   
}

.imgDescripcion {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

figure{
    border: solid 1px black;
    border-radius: 8px;
}

p{
    
    background-color: gray;

}
.imgDescripcion figure { margin: 0; }
.imgDescripcion img { width: 100%; height: auto; border-radius: 8px; }
.imgDescripcion figcaption { padding: 15px; background-color: #f9f9f9; margin-top: 5px; }




