@charset "UTF-8";
/*Estilos para el contenedor general de mi página*/
.container {
  width: 90%;
  margin: 0 auto;
}

/* Menú */
nav {
  background-color: #94c347;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
nav ul li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  color: #000;
}
nav ul li.active {
  color: #fff;
}
nav ul li:hover {
  color: #fff;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}

/* Cards */
figure.card {
  border: 0.15rem solid #333333;
  border-radius: 1rem;
  display: inline-block;
  padding: 1rem;
  width: 42%;
  margin: 1%;
  vertical-align: top;
}
figure.card img {
  border-radius: 2rem;
  width: 100%;
}
figure.card figcaption {
  font-size: 0.9rem;
  margin: 0.6rem;
  text-align: center;
  font-weight: bold;
}
