@use "sass:color";
@use "sass:math";
@use "sass:map";

$color-background: #FFFFFF;
$color-base: #333333;
$main-container-width: 90%;

$card-themes: (
    "verde": (color: #94c347, lightness: 30%),
    "azul": (color: #007bff, lightness: 40%),
    "naranja": (color: #ffc107, lightness: 25%),
    "morada": (color: #9933cc, lightness: 45%)
);

$navbar-background-color: #94c347; 
$navbar-color-active: $color-background;
$navbar-color-hover: $color-background;

$border-width: 0.15rem; 
$border-style: solid;
$border-radius-small: 0.3rem; 
$border-radius: 1rem;
$boder-radius-big: 2rem;

@mixin estado-base {
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
    border-radius: $border-radius-small;
    color: $color-background;
    font-weight: bold;
    font-size: 0.8rem;
}

@function obtener-tamano-icono-bandera($base-size) {
    @if $base-size < 20px {
        @return 20px;
    } @else {
        @return math.min($base-size, 40px);
    }
}

.contenedor {
    width: $main-container-width;
    margin: 0 auto;
}

$status-colors: (
    error: #dc3545, 
    advertencia: #ffc107, 
    aceptado: #28a745, 
    normal: #007bff
);

.barra-estado {
    text-align: right;
    margin-bottom: 0.5rem;
    
    .estado {
        @include estado-base; 

        @each $name, $color in $status-colors {
            &.#{$name} { 
                background-color: $color; 
                
                @if $name == error {
                }
            }
        }
    }
}

nav {
    background-color: $navbar-background-color;
    padding: 0.4rem; 
    border-radius: $border-radius-small; 

    ul {
        li {
            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;
            font-weight: bold; 
            color: #000; 

            &.activo {
                color: $navbar-color-active;
                font-weight: bold; 
            }

            &:hover {
                color: $navbar-color-hover;
            }

            a {
                text-decoration: none;
                color: inherit; 
            }
        }
    }
}

$figure-width: 42%; 

figure.tarjeta {
    border: $border-width $border-style $color-base;
    border-radius: $border-radius;
    display: inline-block;
    padding: 1rem;
    width: $figure-width;
    margin: 1%;
    vertical-align: top;
    position: relative;

    @each $theme, $config in $card-themes {
        &.tarjeta-#{$theme} {
            $card-color: map.get($config, color);
            $light-amount: map.get($config, lightness);
            
            border-color: $card-color;
            background-color: color.adjust($card-color, $lightness: $light-amount);
        }
    }

    img {
        border-radius: $boder-radius-big; 
        width: 100%;
    }

    $i: 1;
    @while $i < 4 {
        $margin-size: $i * 0.1rem;
        
        @for $j from 1 through 2 {
            @if $j == 1 {
                figcaption.margin-test-#{$i} { 
                    margin-top: $margin-size; 
                }
            } @else {
                p.margin-test-#{$i} { 
                    margin-bottom: $margin-size; 
                }
            }
        }
        $i: $i + 1;
    }


    .contenedor-bandera {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 0);

        .icono-bandera {
            $icon-size: obtener-tamano-icono-bandera(30px);
            
            width: $icon-size;
            height: $icon-size;
            border-radius: 50%;
            border: 2px solid $color-base;
            position: absolute;
            left: 50%;
            bottom: -50px;
            transform: translateX(-50%);
            z-index: 10;
        }
    }

    figcaption {
        font-size: 0.9rem;
        margin: 0.6rem;
        text-align: center;
        font-weight: bold;
    }

    p {
        font-size: 0.8rem;
        margin: 0.6rem 0;
        text-align: left;
        line-height: 1.2;
    }
}