*{
    box-sizing: border-box;/*Selectoruniversal*/
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;/*Incluirpaddingybordereneltamañototal*/
    font-weight: 600;/*Tipografía*/
    border: 1px solid black;/*Grosordefuente*/
    border-radius: 5px;/*Bordenegro*/
    color: black;
    
}

header, nav, main, section, .container {    /*Diseñoflexible*/
    margin: 20px auto;  /* Centrar los elementos */
    width: 90%; /* Ancho del 90% del contenedor padre */
}

nav ul{
    display:flex;
    flex-direction: column;
    list-style: lower-latins;
    flex-wrap: wrap; /*wrap-reverse para que se envuelva en sentido contrario*/ /*Permite que los elementos se envuelvan*/   
    align-items:center; /*Alineación de los elementos en el eje transversal*/
    justify-content: space-around; /*Distribución de los elementos en el eje principal*/
    background:skyblue;
    height: 5em;
}

nav li{
    border: dotted; /*Permite que los elementos crezcan para llenar el espacio disponible*/
    flex-grow: 1; /*Permite que los elementos crezcan para llenar el espacio disponible*/
    flex-shrink: 10; /*Permite que los elementos se encojan si es necesario*/
    align-self: flex-end; /*Alineación individual de los elementos*/
    flex-basis: 20%; /*Tamañoinicialde loselementos*/

}

nav li:nth-child(1){
    order:1; /*Cambiarorden de los elementos*/
}

nav li:nth-child(2), nav li:nth-child(4){   /*Seleccionar elementos específicos*/
    background-color: blue; /*Color de fondo azul*/
    align-self: flex-start; /*Alineación individual de los elementos*/
}

section{
    display: grid; /*Diseñogrid*/
    height: 10em;
    grid-template-columns: repeat(3, 20%); /*Definición de columnas*//*repeat(3, 20%) repeat(3, 20px)20px 20px 30px;*/
    grid-template-columns: [Nombre] 20% [Apellidos] [DNI]30px; /*Definición de columnas flexibles*/
    grid-template-rows: repeat(2, 40%); /*Definición defilas*/
    place-items: center-end; /*Alineación de los elementos del grid*/
    place-content: strench space-around; /*Alineación del contenido del grid*/
}

section article:nth-child(2){
    background: hotpink;
    grid-row: 1/4;  /*Ubicación de los elementos del grid*/
    grid-column: 1/3; /*Ubicación de los elementos del grid*/
}


footer{
    margin-top: 20px;
    padding: 10px;
    height: 10em;
    /*grid-template-areas: ;*/
}
#RRSS{
    background-color: salmon;
    grid-area: RRSS;
}
#contacto{
    background-color: blueviolet;
    grid-area: contacto;
}
#copiar{
    background-color: lightgrey;
    grid-area: copiar;
}

