
.contador{
	
    min-width: 300px;
    background-color: brown;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    margin-buttom: 15px
    
}